/* Button */

@import '../varibles/default.scss';

@mixin btn-type($bg-color, $border-color) {
  background-color: $bg-color;
  border-color: $border-color;

  &:hover:not(:disabled) {
    background-color: tint($bg-color, $btn-tint-per);
    border-color: tint($bg-color, $btn-tint-per);
  }

  &:active:not(:disabled) {
    background-color: shade($bg-color, $btn-shade-per);
    border-color: shade($bg-color, $btn-shade-per);
  }
}

@mixin btn-size($padding, $font-size, $radius) {
  padding: $padding;
  font-size: $font-size;
  border-radius: $radius;
}

@mixin btn-plain($color) {
  background-color: tint($color, 90%);
  color: $color;
  border-color: $color;

  &:hover:not(:disabled) {
    color: $font-color-white;
    background-color: $color;
    border-color: $color;
  }

  &:active:not(:disabled) {
    background-color: shade($color, $btn-shade-per);
    border-color: shade($color, $btn-shade-per);
  }
}

.arc-button {
  appearance: none;
  line-height: 1;
  font-weight: 500;
  cursor: pointer;
  font-size: $font-size-base;
  text-align: center;
  padding: $btn-padding-default;
  color: $font-color;
  border: 1px solid $btn-border-default;
  border-radius: $btn-radius-default;
  background-color: $btn-bg-default;
  transition: all $transition-all-duration;
  .icon {
    margin-right: 5px;
    display: inline-block;
  }
  &--primary,
  &--success,
  &--error,
  &--warning,
  &--info {
    color: $font-color-white;
  }
  &--default {
    &:hover:not(:disabled) {
      color: tint($color-primary, $btn-tint-per);
      border-color: tint($btn-border-primary, $btn-tint-per);
    }
  
    &:active:not(:disabled) {
      color: shade($color-primary, $btn-shade-per);
      border-color: shade($btn-border-primary, $btn-shade-per);
    }
  }
  &--primary {
    @include btn-type($btn-bg-primary, $btn-border-primary);
    &.is-plain {
      @include btn-plain($color-primary);
    }
  }
  &--success {
    @include btn-type($btn-bg-success, $btn-border-success);
    &.is-plain {
      @include btn-plain($color-success);
    }
  }
  &--error {
    @include btn-type($btn-bg-error, $btn-border-error);
    &.is-plain {
      @include btn-plain($color-error);
    }
  }
  &--warning {
    @include btn-type($btn-bg-warning, $btn-border-warning);
    &.is-plain {
      @include btn-plain($color-warning);
    }
  }
  &--info {
    @include btn-type($btn-bg-info, $btn-border-info);
    &.is-plain {
      @include btn-plain($color-info);
    }
  }
  &--text {
    color: $color-primary;
    border: 0 none;
    background-color: transparent;
    &:hover {
      color: tint($color-primary, $btn-tint-per);
    }
    &:active {
      color: shade($color-primary, $btn-shade-per);
    }
    &:disabled {
      color: shade($font-color-disabled, 20%);
      cursor: not-allowed;
    }
  }

  &--medium {
    @include btn-size($btn-padding-medium, $font-size-base, $btn-radius-medium)
  }
  &--small {
    @include btn-size($btn-padding-small, $font-size-sm, $btn-radius-small)
  }
  &--mini {
    @include btn-size($btn-padding-small, $font-size-sm, $btn-radius-small)
  }

  &--circle {
    border-radius: $btn-radius-circle;
  }
  &:disabled:not(&--text) {
    cursor: not-allowed;
    opacity: .6;
  }
  &.is-loading {
    & > .icon-loader {
      animation: loading 1s linear infinite;
    }
  }
}

.arc-button-group {
  .arc-button:not(:last-child) {
    border-right-color: $btn-border-default;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .arc-button + .arc-button {
    border-left: 0 none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  &--medium {
    .arc-button {
      @include btn-size($btn-padding-medium, $font-size-base, $btn-radius-medium)
    }
  }
  &--small {
    .arc-button {
      @include btn-size($btn-padding-small, $font-size-sm, $btn-radius-small)
    }
  }
}

@keyframes loading {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}