/* font-size */
$font-size-sm               : 12px !default;
$font-size-base             : 14px !default;
$font-size-normal           : 16px !default;
$font-size-lg               : 18px !default;
$font-size-lger             : 20px !default;
/* color */
$color-defalt               : #FFF !default;
$color-primary              : #1890ff !default;
$color-success              : #13CE66 !default;
$color-error                : #FF4949 !default;
$color-warning              : #FFC82C !default;
$color-info                 : #c8c9cc !default;
/* font */
$font-family                : -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif !default;
$font-color                 : #606266 !default;
$font-color-white           : $color-defalt;
$font-color-disabled        : #d2d2d2 !default;
/* size */
$size-default               : 40px !default;
$size-medium                : 36px !default;
$size-small                 : 32px !default;
$size-mini                  : 28px !default;
/* border */
$border-default             : #dcdfe6 !default;
$border-primary             : $color-primary;
$border-success             : $color-success;
$border-error               : $color-error;
$border-warning             : $color-warning;
$border-info                : $color-info;
/* Transition */
$transition-all-duration    : .3s !default;
/* button */
$btn-padding-default        : 12px 20px !default;
$btn-padding-medium         : 10px 20px !default;
$btn-padding-small          : 9px 15px !default;
$btn-padding-mini           : 7px 15px !default;
$btn-radius-default         : 4px !default;
$btn-radius-medium          : 4px !default;
$btn-radius-small           : 3px !default;
$btn-radius-mini            : 3px !default;
$btn-radius-circle          : 20px !default;
$btn-border-default         : $border-default;
$btn-border-primary         : $border-primary;
$btn-border-success         : $border-success;
$btn-border-error           : $border-error;
$btn-border-warning         : $border-warning;
$btn-border-info            : $border-info;
$btn-border-disabled        : #ececec !default;
$btn-bg-default             : $color-defalt;
$btn-bg-primary             : $color-primary;
$btn-bg-success             : $color-success;
$btn-bg-error               : $color-error;
$btn-bg-warning             : $color-warning;
$btn-bg-info                : $color-info;
$btn-bg-disabled            : #f7f7f7 !default;
$btn-tint-per               : 15%;
$btn-shade-per              : 10%;
/* Input Textarea */
$input-padding              : 0 15px !default;
$input-padding-prefix       : 0 15px 0 30px !default;
$input-padding-suffix       : 0 30px 0 15px !default;
$input-padding-pre-suffix   : 0 30px;
$input-border               : $border-default;
$input-border-focus         : $border-primary;
$input-border-disabled      : #e4e7ed !default;
$input-radius               : 4px !default;
$input-height-default       : $size-default;
$input-height-medium        : $size-medium;
$input-height-small         : $size-small;
$input-height-mini          : $size-mini;
$input-bg                   : #fff !default;
$input-bg-disabled          : #f5f7fa !default;
$input-color-disabled       : #c0c4cc !default;


