/* font */
$font-family                : -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif !default;
/* font-size */
$font-size-base             : 14px !default;
$font-size-normal           : 16px !default;
$font-size-lg               : 18px !default;
$font-size-lger             : 20px !default; 
/* color use at-ui color */
$color-primary              : #6190E8 !default;
$color-success              : #13CE66 !default;
$color-error                : #FF4949 !default;
$color-warning              : #FFC82C !default; 
$color-info                 : #78A4FA !default;
$color-white                : #FFF !default;